/*
---GRID-AREA---
Instructions
All CSS declarations and media queries in this
file should strictly target the "grid-area" div
and its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: grid;                            | Only grid
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only grid
¤ font-weight                               |
¤ grid-area                                 |
¤ grid-gap                                  |
¤ grid-template-areas                       |
¤ grid-template-columns                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.grid-area{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);   
}

.grid-area> * {
    display: grid;
    place-content: center;
    }

.grid-area>*:nth-child(1) p,
.grid-area>*:nth-child(4) p,
.grid-area>*:nth-child(6) p { 
    font-weight: 800; 
}


 @media screen and (min-width: 768px) {
    .grid-area{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "KNOW five three"
        "two YOU YOU" 
        "eight AREA AREA"
        "nine AREA AREA"
        "ten ten seven";
    }

    .grid-area >*:nth-child(1) {grid-area: YOU;}
    .grid-area >*:nth-child(2) {grid-area: two;}
    .grid-area >*:nth-child(3) {grid-area: three;}
    .grid-area >*:nth-child(4) {grid-area: KNOW;}
    .grid-area >*:nth-child(5) {grid-area: five;}
    .grid-area >*:nth-child(6) {grid-area: AREA;}
    .grid-area >*:nth-child(7) {grid-area: seven;}
    .grid-area >*:nth-child(8) {grid-area: eight;}
    .grid-area >*:nth-child(9) {grid-area: nine;}
    .grid-area >*:nth-child(10) {grid-area:ten;}
}


@media screen and (min-width: 1024px) {  

    .grid-area{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "three AREA AREA five"
        "two AREA AREA seven" 
        "eight nine YOU YOU"
        "ten KNOW KNOW KNOW"
    }
}

