/*
---FLEX---
Instructions
All CSS declarations and media queries in this
file should strictly target the "flex" div
and its content in the index.html file.

You're limited to the below stated:
--------------------------
Mandatory declaration
¤ display: flex;                            | Only flex
--------------------------
Permitted media queries
¤ @media screen and (min-width: 768px) {    |
¤ @media screen and (min-width: 1024px) {   |
--------------------------
Permitted properties
¤ display                                   | Only flex
¤ flex-basis                                |
¤ flex-direction                            |
¤ flex-grow                                 |
¤ flex-wrap                                 |
¤ font-weight                               |
¤ gap                                       |
¤ justify-content                           |
¤ order                                     |
¤ place-content                             |
--------------------------

Student CSS below the line
-------------------------- */

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex  :nth-child(2) p,
.flex  :nth-child(4) p,
.flex  :nth-child(9) p {
  font-weight: 800; 
}
@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex > * {
    flex-grow: 1;
  }
  .flex *:nth-child(1) {
    flex-basis: 13.25%;
    order: 1;
  }
  .flex *:nth-child(4) {
    flex-basis: 63.5%;
    order: 2;
  }
  .flex *:nth-child(3) {
    order: 3;
    flex-basis: 13.25%;
  }
  .flex *:nth-child(2) {
    flex-basis: 60%;
    order: 4;
  }

  .flex *:nth-child(5) {
    flex-basis: 10%;
    order: 5;
  }

  .flex *:nth-child(6) {
    flex-basis: 20%;
    order: 6;
  }

  .flex *:nth-child(7) {
    flex-basis: 10%;
    order: 7;
  } 

  .flex *:nth-child(8) {
    flex-basis: 20%;
    order: 8;
  } 
  .flex *:nth-child(9) {
    flex-basis: 60%;
    order: 9;

  }
} 

@media screen and (min-width: 1024px) { 


    .flex > *:nth-child(1) {
        flex-basis: 52%;
        order: 1;
    }

    .flex > *:nth-child(9) {
        order: 2;
        flex-basis: 37%;
    }
    
    .flex > *:nth-child(3) {
        order: 3;
        flex-basis: 7%;
    } 

    .flex > *:nth-child(2) {
        order: 4;
        flex-basis: 30%;
    } 

    .flex > *:nth-child(5) {
        order: 5;
        flex-basis: 10%;
    } 
    .flex > *:nth-child(6) {
        order: 6;
        flex-basis: 20%;
    } 
    .flex > *:nth-child(7) {
        order: 7;
        flex-basis: 10%;
    } 
    .flex > *:nth-child(8) {
        order: 8;
        flex-basis: 20%;
    } 
    .flex > *:nth-child(4) {
        order: 9;
        flex-basis: 100%;
    } 

}   